############
## Project
############

# Generated corpus files
tweet-stream.json


############
## Libraries
############

tweepy/


#############
## Python
#############

*.py[co]
