############
## Project
############

# Generated corpus files
tweet-stream.json
# Custom configuration settings
config.yaml


############
## Libraries
############

tweepy/


#############
## Python
#############

*.py[co]
venv/
